

<div class="entry-content clear" data-ast-blocks-layout="true" itemprop="text">

	
	
<figure class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-4-3 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
<div class="ast-oembed-container " style="height: 100%;"><iframe title="Center for Alternative Medicine, PLLC Decompression" width="1200" height="900" src="https://www.youtube.com/embed/zg-Gj6nAQTc?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe></div>
</div><figcaption class="wp-element-caption">Center for Alternative Medicine, (CAM clinic), shows the process and benefits from Advanced Spinal Decompression.</figcaption></figure>



<figure class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
<div class="ast-oembed-container " style="height: 100%;"><iframe title="Non Steroidal Anti-Inflammatory Drugs (NSAIDs)" width="1200" height="675" src="https://www.youtube.com/embed/JhvKrV0Hjnw?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe></div>
</div><figcaption class="wp-element-caption">Scientific animation showing how the Mechanisms of Action (MOAs) of acetaminophen (TYLENOL®) and NSAIDs can have important implications for pain management and patient care. Introduction by pain specialist Bruce D. Nicholson, MD.</figcaption></figure>

	
	
</div><!-- .entry-content .clear -->

	
