{% include "components/header/off-canvas.njk" %}
{% include "components/header/top.njk" %}

<header class="container top-0 border-b z-50 px-6 py-6">
<nav x-data="{ open: false }"  role="navigation" aria-label="Main Menu">
    <div class="flex items-center justify-between h-28">

    <div class="flex-shrink-0">
        {% include "components/global/logo.njk" %}
    </div>
    
    {% include "components/header/desktop-links.njk" %}
    {% include "components/header/mobile-button.njk" %}

    </div>
    
</nav>
</header>